@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('websymbols/websymbols-regular-webfont.woff') format('woff'),
    url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
    url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    /*font: 14px/1.22 verdana,arial,sans-serif;*/
    /*font:14px/1.22 Microsoft YaHei,Tahoma,Arial;*/
    font-family: 'Georgia',' Microsoft YaHei';
    color:#444;
}
